<div class="background6 lighten">
<div class="container forms-container pad-below">
  <h2 class=""> Let's Get This Party Started! </h2>

  <%= render :partial => "./errors"%>
  <%= render :partial => "edit", locals: {party: @party} %>
</div>

</div>
