<div class="container">
  <h2>Party</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Location</th>
              <td>Ma House</td>
            </tr>
            <tr>
              <th>Date & Time</th>
              <td>Now</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">
          <p>This Party is garbage</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Drinks</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Kool-Aid</li>
            <li>Vodka</li>
            <li>My Tears</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Food</h3>
        </div>
      <div class="panel-body">
        <ul>
          <li>Chicken Parm</li>
          <li>Burritos</li>
          <li>Flan</li>
        </ul>
      </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Supplies</h3>
        </div>
      <div class="panel-body">
        <ul>
          <li>Cups</li>
          <li>Confetti</li>
          <li>Drugs</li>
        </ul>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cocktails</h3>
        </div>
      <div class="panel-body">

      </div>
    </div>
    </div>
  </div>

</div>
