<tr>
  <% if guest.first_name == 'temp' %>
    <td><%=guest.email%> (...awaiting registration)</td>
  <% else %>
    <td><%=guest.full_name%></td>
  <% end %>
  <%if guest != @party.host%>
    <td><%= link_to 'Uninvite', party_guest_path(party, guest), method: :delete, class: "uninvite-button" if host?(party) && guest != party.host%></td>
    <%else%>
    <td>Your Host!</td>
    <%end%>
</tr>
