<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag 'portfolio/fullsize/logo.png' %>
    <h1>Welcome to Popp'n, <%= @user.full_name %>!</h1>
    <p>To login to the site, just <%=link_to "follow this link!", @url %></p>
    <p>Thanks for joining and let's get this party POPP'N!</p>
    <p>-The Party Planning People</p>
  </body>
</html>
