<div class="panel panel-info">
  <div class="panel-body">

        <p> <%= comment.body %></p>
        <ul><li><%= comment.guest.user.full_name%>
          posted at: <%= comment.format_time%> on <%= comment.format_date%></li></ul>

  </div>
</div>
