<div class="container">
  <div class ="row">
    <h2>Welcome <%=@user.full_name%></h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My Parties</h3>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>

<div class="row">

  <div class = "col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Parties I'm Attending</h3>
    </div>
    <div class="panel-body">
    </div>
  </div>
  </div>


  <div class = "col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My Shopping List</h3>
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>
</div>

</div>
