<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Plan Your Party</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->

    <!-- Theme CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
  <header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1 id="homeHeading">Start planning your next party with us</h1>
              <hr>
              <p></p>
              <a href="#about" class="btn btn-default btn-xl page-scroll">Find Out More</a>
          </div>
      </div>
  </header>

  <section class="bg-primary" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">We've got what you need!</h2>
                  <hr class="light">
                  <p class="text-faded">POPP'N is an application that can help you plan your next event! From inviting friends, to searching for party favors, it has everything you need to organize an awesome party!</p>
              </div>
          </div>
      </div>
  </section>

  <section id="services">
      <div class="container service-container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading service-header">At Your Service</h2>
                  <hr class="primary">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <%= image_tag 'portfolio/fullsize/7.jpg', class: "img-circle" %>
                      <h3 class="service-header">Create a party</h3>
                      <p class="text-muted">Choose the best date and location to host your event!</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <%= image_tag 'portfolio/fullsize/8.jpg', class: "img-circle" %>
                      <h3 class="service-header">Invite friends</h3>
                      <p class="text-muted">Invite as many friends as you'd like to the party!</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <%= image_tag 'portfolio/fullsize/9.jpg', class: "img-circle" %>
                      <h3 class="service-header">Supplies</h3>
                      <p class="text-muted">You can ask your guests to bring food, drinks, or even supplies and guests can choose which item to bring!</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <%= image_tag 'portfolio/fullsize/10.jpg', class: "img-circle" %>
                      <h3 class="service-header">Party</h3>
                      <p class="text-muted">In just a few clicks, your party is ready, now have fun!</p>
                  </div>
              </div>
          </div>
      </div>
      <div class= "text-center">
        <%if logged_in?%>
          <a href="/users/show" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
        <%else%>
          <a href="/users/new" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
        <%end%>
      </div>
  </section>


  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

</html>
